{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collect fingerprint</title>
        <link rel="stylesheet" href="{% static 'css/demosite/styles.css' %}">
        <script src="{% static 'js/backend/collector.js' %}"></script>
        <script src="{% static 'js/backend/crypto.js' %}"></script>
        <script src="{% static 'js/backend/automation_tests.js' %}"></script>
        <script src="{% static 'js/backend/main.js' %}"></script>
    </head>
    <body>
        <div class="header">
            <span>Collect fingerprint</span>
            <div class="header-links">
                <a href="/share" class="current-page">Share</a>
                <a href="/analyze">Analyze</a>
            </div>
        </div>
        <div class="result" id="result-container"></div>
        <div class="invisible">
            <input type="hidden" id="webgl_hash">
            <input type="hidden" id="webgl_string">
            <input type="hidden" id="detection_results">
        </div>
        <div class="button-container">
            <button type="button" class='main-button' id="refresh" onclick="startGettingToken()">Get Token</button>
            <button type="button" class='main-button' id="refresh" onclick="refreshResult()">Share Results</button>
            <button type="button" class='main-button' id="refresh" onclick="checkTokenInfo()">Analyze Token</button>
        </div>>
        <script>
            function createResultElement(label, value) {
                const element = document.createElement("div");
                element.className = "value"
                element.innerHTML = `<span class="label">${label}:</span><span class="description">${value}</span>`;
                return element;
            }
            function setResult(jsonResponse) {
                let elements = jsonResponse.success ? jsonResponse.data : jsonResponse.error
                const resultContainer = document.getElementById("result-container");
                resultContainer.innerHTML = "";
                for (const key in elements) {
                    const value = elements[key];
                    const element = createResultElement(key, value);
                    resultContainer.appendChild(element);
                }
            }
            async function refreshResult() {
                setResult(await fetchResult());
            }
            function fetchResult() {
                return fetch( "{% url 'backend.v1.share' %}",{
                    headers: {
                        'Connection': 'close',
                        'Cache-Control': 'no-cache',
                    }
                }).
                then(response => response.json()).
                catch(error => new Object({"success": false, "error": {"message": error.toString()}}));
            }
            window.onload = refreshResult;
            window.addEventListener('tokenReady', event => handleTokenSuccess(event))
            window.addEventListener('tokenFailed', event => handleTokenFail(event))

            function startGettingToken() {
                window.dispatchEvent(new Event('initRobotlessSession'));
            }
            function handleTokenSuccess(event) {
                let robotlessToken = event.robotlessToken;
                let container = document.getElementById("result-container");
                container.innerHTML = "";
                const element = createResultElement("token", robotlessToken);
                container.appendChild(element)
            }
            function handleTokenFail(event) {
                setResult(event.response)
            }
            async function checkTokenInfo() {
                let robotlessToken = sessionStorage.getItem('robotlessToken');
                if (robotlessToken) {
                    let tokenInfo = await getTokenInfo(robotlessToken)
                    setResult(tokenInfo)
                } else {
                    setResult({"success": false, "error": {"message": "Empty token"}})
                }
            }
            function getTokenInfo(token) {
                return fetch( "{% url 'backend.v1.info' %}", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json; charset=UTF-8',
                        'Connection': 'close',
                        'Cache-Control': 'no-cache',
                        "X-CSRFToken": window.getCookie('csrftoken')
                    },
                    body: JSON.stringify({"token": token})
                }).
                then(response => response.json()).
                catch(error => new Object({"success": false, "error": {"message": error.toString()}}))
            }
            window.getCookie = function (name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.startsWith(name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>
    </body>
</html>
